<!--  section TEAM -->
<div class="content-area">

  <div class="container">

    <div class="row section-header">
      <div class="col-sm-12 col-md-7">

        <h2>Our Small Team</h2>

        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br /> sed do eiusmod tempor
          incididunt ut labore. </p>

      </div>
    </div>

    <div class="row">


      <div class="col-sm-6 col-md-3 animated" data-fx="fadeInUp">
        <div class="personBox text-center">


          <div class="person-thumbnail">
            <a href="about-us.html">
              <%= image_tag 'demo-content/02-home-team-01.jpg'%>
            </a>

            <div><a class="overlay-img" href="#"><span class="overlay-ico"><i class="pe-7s-close"></i></span></a></div>
          </div>

          <a href="about-us.html"><h4>Norman Candian
            <span>Chief Executive Officer</span>
          </h4></a>

          <p> Lorem ipsum dolor amet consectetur adipisicing elit eiusmod incididunt.</p>

          <ul class="socialNormal list-inline">
            <li><a data-original-title="Facebook" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-facebook"></i></a></li>
            <li><a data-original-title="Twitter" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-twitter"></i></a></li>
            <li><a data-original-title="Forrst" href="#" data-toggle="tooltip" title=""><i
            class="fa-fw icon-forrst"></i></a></li>
            <li><a data-original-title="Dribble" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-dribbble"></i></a></li>
          </ul>


        </div>
      </div>
      <div class="col-sm-6 col-md-3 animated" data-fx="fadeInDown">
        <div class="personBox text-center">

          <div class="person-thumbnail">
            <a href="about-us.html">
              <%= image_tag 'demo-content/02-home-team-02.jpg'%> </a>
            <div><a class="overlay-img" href="#"><span class="overlay-ico"><i class="pe-7s-close"></i></span></a></div>
          </div>

          <a href="about-us.html"><h4>Nancy Ghomany
            <span>President Legal</span>
          </h4></a>

          <p> Lorem ipsum dolor amet consectetur adipisicing elit eiusmod incididunt.</p>

          <ul class="socialNormal list-inline">
            <li><a data-original-title="Facebook" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-facebook"></i></a></li>
            <li><a data-original-title="Twitter" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-twitter"></i></a></li>
            <li><a data-original-title="Forrst" href="#" data-toggle="tooltip" title=""><i
            class="fa-fw icon-forrst"></i></a></li>
            <li><a data-original-title="Dribble" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-dribbble"></i></a></li>
          </ul>


        </div>
      </div>
      <div class="col-sm-6 col-md-3 animated" data-fx="fadeInUp">
        <div class="personBox text-center">

          <div class="person-thumbnail">
            <a href="about-us.html">
              <%= image_tag 'demo-content/02-home-team-03.jpg'%>
            </a>

            <div><a class="overlay-img" href="#"><span class="overlay-ico"><i class="pe-7s-close"></i></span></a></div>
          </div>

          <a href="about-us.html"><h4>Michel Dolman
            <span>President Tax & Accunting</span>
          </h4></a>

          <p> Lorem ipsum dolor amet consectetur adipisicing elit eiusmod incididunt.</p>

          <ul class="socialNormal list-inline">
            <li><a data-original-title="Facebook" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-facebook"></i></a></li>
            <li><a data-original-title="Twitter" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-twitter"></i></a></li>
            <li><a data-original-title="Forrst" href="#" data-toggle="tooltip" title=""><i
            class="fa-fw icon-forrst"></i></a></li>
            <li><a data-original-title="Dribble" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-dribbble"></i></a></li>
          </ul>


        </div>
      </div>
      <div class="col-sm-6 col-md-3 animated" data-fx="fadeInDown">
        <div class="personBox text-center">

          <div class="person-thumbnail hover">
            <a href="about-us.html">
              <%= image_tag 'content/02-home-team-joinus.jpg' %>
            </a>
            <div><a class="overlay-img" href="#"><span class="overlay-ico"><i class="pe-7s-close"></i></span></a></div>

          </div>

          <h4>Join us now
            <span>We need HTML Developer</span>
          </h4>

          <p> Lorem ipsum dolor amet consectetur adipisicing elit eiusmod incididunt.</p>

          <a class="btn btn-default" href="about-us.html">Apply Now</a>

        </div>
      </div>
    </div>


  </div>
</div>
<!-- / section -->

