<%=@article.title%><br>
<%=@article.description%>

<!-- header -->
<header class="height">


  <div data-image-mobile="assets/images/bg-plannet-parallax.jpg" data-image="assets/images/bg-plannet-parallax.jpg" data-type="parallax" data-height="670" data-stellar-background-ratio="0" class="media-section">

    <div class="display-table">
      <div class="inner">

        <div class="flexslider std-slider center-controls" data-height="" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="false" data-dircontrols="true">
          <ul class="slides">
            <li>
              <div class="container">
                <div class="text-center width inner">
                  <h2 class="page-title animated" data-fx="fadeInDown">WELCOME TO BLOG</h2>

                  <h3 class="animated" data-fx="bounceIn">
                    Featuring the best design on the web Best of Blog Corporate CSS Design<br/>
                    becoming like this is one of your goals, here are some general pointers.
                  </h3>
                  <a href="#content" class="btn btn-default btn-lg animated local" data-fx="fadeInUp">Get Started Now</a>
                </div>
              </div>
            </li>


            <li>
              <div class="container">
                <div class="text-center width inner">
                  <h2 class="page-title animated" data-fx="fadeInDown">WELCOME TO OUR PORTFOLIO</h2>

                  <h3 class="animated" data-fx="bounceIn">
                    Featuring the best design on the web Best of Blog Corporate CSS Design<br/>
                    becoming like this is one of your goals, here are some general pointers.
                  </h3>
                  <a href="#content" class="btn btn-default btn-lg animated local" data-fx="fadeInUp">Get Started Now</a>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <a href="#content" class="bigArrow local">
          <span>scroll down for more!</span>
          <i class="pe-7s-bottom-arrow"></i>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- / header -->


<!--  section CONTENT -->

<div id="content" class="content-area">
  <div class="container">
    <div class="row">

      <div class="col-md-9">

        <div class="clearfix" id="blog-list">
          <article class="blog-item item-bigger">
            <div class="blog-thumbnail">
              <img alt=" " src="assets/images/demo-content/05-blog-single-post-image1.jpg">


            </div>
            <div class="innerMargin">
              <div class="entry-meta">
                <span class="entry-date">December 3, 2013</span>
                <span class="cat-links">In <a href="#">News</a>, <a href="#">Images</a></span>
                <span class="by-author"><a href="#">By Admin</a></span>
                <span class="entry-comments"><a href="#">1 comment</a></span>
              </div>
              <h4 class="entry-title">This is a standard post format with preview picture</h4>

              <p>
                Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore <a href="#">it’s a text link</a>. Ut enim ad
                minim veniam,
                quis exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>

              <p>
                Sed varius varius eros. Sed nec tellus a elit blandit pulvinar. Nulla ut urna placerat, auctor purus et, luctus justo. Ut condimentum augue porttitor turpis pretium, nec egestas odio varius. Aenean
                porttitor nisi quis libero facilisis scelerisque. In eget erat scelerisque, feugiat tellus at, bibendum quam. Suspendisse potenti. Egestas enim eros, non pharetra massa porta nec. Nullam ullamcorper
                tellus quis nulla porta vulputate. Integer non massa consectetur, pharetra enim vel, ultrices metus.
              </p>

              <blockquote class="intext">
                <p>I think there are two types of people in this world &mdash; people who can start things and people who can finish things. And while I place great value on the finishers, it’s the starters who are rare
                  because they can envision what isn’t there.

                </p>
              </blockquote>

              <p>
                Donec quam metus, facilisis quis luctus eget, lobortis at felis. Nunc varius sodales sem eget viverra. Donec quis quam orci. Curabitur fringilla elit eu cursus ornare. Mauris faucibus rhoncus felis,
                venenatis pellentesque est sodales vel. Cras vel purus mollis lacus eleifend blandit. Vestibulum aliquam imperdiet aliquet. Cras malesuada dolor leo, eu aliquet nisl vestibulum hendrerit. In fermentum
                nibh vitae diam adipiscing, eget faucibus erat condimentum. Nullam vel magna at dui adipiscing sollicitudin at sit amet nisl. Vestibulum pharetra, nunc interdum condimentum elementum, felis augue semper
                eros, sed sagittis nibh est at neque.
              </p>

              <br>

              <div class="widget wp_widget_tag_cloud">
                <a class="btn btn-default btn-sm" href="#">Art</a>
                <a class="btn btn-default btn-sm" href="#">Audio</a>
                <a class="btn btn-default btn-sm" href="#">Business</a>
                <a class="btn btn-default btn-sm" href="#">Clean</a>
                <a class="btn btn-default btn-sm" href="#">Music</a>
                <a class="btn btn-default btn-sm" href="#">Video</a>
              </div>

              <br>

              <br>

              <div class="media stdbox">
                <a href="#" class="pull-left">
                  <img alt="" src="assets/images/demo-content/02-home-team-01.jpg" class="media-object">
                </a>

                <div class="media-body">
                  <h4 class="media-heading"><a href="#">About Author</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing  sedo eiusmod tempor incididunt ut labor or dolore magna aliqua. Ut enim ad minim veniam.</p>

                  <div class="table">
                    <div class="table-row">
                      <div class="table-cell">
                        <span class="widget-title">Follow me on:</span>
                      </div>
                      <div class="table-cell">
                        <ul class="pull-right list-inline">
                          <li><a title="" href="#" data-original-title="Facebook">Facebook</a></li>
                          <li><a title="" href="#" data-original-title="Twitter">Twitter</a></li>
                          <li><a title="" href="#" data-original-title="Google+">Google+</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </article>
          <!-- / blog-item -->



          <div class="commentListOuter">

            <div class="innerMargin">
              <header class="page-header">
                <h2>3 comments</h2>
              </header>


              <ul class="commentList list-unstyled">
                <li>
                  <div class="oneComment">
                    <div class="media stdbox">


                      <a href="#" class="pull-left">
                        <img alt="" src="assets/images/demo-content/06-post-author-01.jpg" class="media-object">
                      </a>

                      <div class="entry-meta">
                        <span class="entry-date">Dec 20, 2013</span>
                        <span class="entry-reply"><a href="#">Reply</a></span>
                      </div>


                      <div class="media-body">
                        <h5 class="media-heading"><a href="#">John Doe</a></h5>

                        <p>
                          Maecenas dignissim euismod nunc, in commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit adi enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus. Mauris a felis arcu, sollicitudin mauris. Aliquam quis tellus vel massa mattis ornare et eu felis.
                        </p>


                      </div>
                    </div>
                  </div>
                  <!-- / oneComment -->
                  <ol class="children">

                    <li>
                      <div class="oneComment">
                        <div class="media stdbox">
                          <a href="#" class="pull-left">
                            <img alt=" " src="assets/images/demo-content/06-post-author-02.jpg" class="media-object">
                          </a>

                          <div class="entry-meta">
                            <span class="entry-date">Dec 21, 2013</span>
                            <span class="entry-reply"><a href="#">Reply</a></span>
                          </div>

                          <div class="media-body">
                            <h5 class="media-heading"><a href="#">Admin</a></h5>

                            <p>
                              Dignissim euismod nunc, in commodo est luctus eget. Proin in nunc laoreet juso volutpat blandit adi enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nuncea tellus auris arcu, vitae sollicitudin mauris. Aliquam quis tellus.
                            </p>


                          </div>
                        </div>
                      </div>
                      <!-- / oneComment -->
                    </li>
                  </ol>
                </li>
                <li>
                  <div class="oneComment">
                    <div class="media stdbox">
                      <a href="#" class="pull-left">
                        <img alt=" " src="assets/images/demo-content/06-post-author-03.jpg" class="media-object">
                      </a>

                      <div class="entry-meta">
                        <span class="entry-date">Dec 21, 2013</span>
                        <span class="entry-reply"><a href="#">reply</a></span>
                      </div>

                      <div class="media-body">
                        <h5 class="media-heading"><a href="#">Marck Gordon</a></h5>

                        <p>
                          Maecenas auctor odio leo, vel rutrum ligula porta nec. Curabitur ut sodales ante, laoreet blandit eros. Fusce eget metus nec ante sollicitudin egestas. Ut tincidunt risus ac justo porta, et pretium libero
                          faucibus. Vestibulum laoreet metus mauris euismod.
                        </p>


                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="oneComment">
                    <div class="media stdbox">
                      <a href="#" class="pull-left">
                        <img alt=" " src="assets/images/demo-content/06-post-author-04.jpg" class="media-object">
                      </a>

                      <div class="entry-meta">
                        <span class="entry-date">Dec 21, 2013</span>
                        <span class="entry-reply"><a href="#">reply</a></span>
                      </div>

                      <div class="media-body">
                        <h5 class="media-heading"><a href="#">Tony valmar</a></h5>

                        <p>
                          Maecenas auctor odio leo, vel rutrum ligula porta nec. Curabitur ut sodales ante, laoreet blandit eros. Fusce eget metus nec ante sollicitudin egestas. Ut tincidunt risus ac justo porta, et pretium libero
                          faucibus. Vestibulum laoreet metus mauris euismod.
                        </p>


                      </div>
                    </div>
                  </div>
                </li>
              </ul>

              <header class="page-header">
                <h2>Leave a comment</h2>
              </header>

              <form>
                <fieldset>
                  <div class="row">
                    <div class="col-xs-12 col-md-4">
                      <div class="form-group">
                        <label class="control-label">Full Name</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                      <div class="form-group">
                        <label class="control-label">Email Addres</label>
                        <input type="email" class="form-control">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                      <div class="form-group">
                        <label class="control-label">Subject</label>
                        <input type="email" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label">Type your Comment</label>
                        <textarea rows="5" class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                  <input type="submit" value="Add Comment" class="btn btn-border">
                </fieldset>
              </form>

            </div>
            <!-- / innerMargin -->
          </div>
          <!-- / commentListOuter -->

        </div>
        <!-- / Post-->

      </div>

      <div class="col-md-3">


        <div id="blog-sidebar">


          <aside class="widget">
            <h1 class="widget-title">Search</h1>
            <form class="search-form" role="search">
              <input type="search" placeholder="" class="form-control">
              <input type="submit" value="search">
            </form>
          </aside>

          <aside class="widget categories-widget">
            <h1 class="widget-title">Categories</h1>

            <ul class="list-unstyled">
              <li><a href="#">Photography</a></li>
              <li><a href="#">Motion Graphic</a></li>
              <li><a href="#">WordPress</a></li>
              <li><a href="#">Video Gallery</a></li>
              <li><a href="#">Technology</a></li>
            </ul>
          </aside>

          <aside class="widget wp_widget_tag_cloud">
            <h1 class="widget-title">Tags</h1>

            <a class="btn btn-default btn-sm" href="#">Photography</a>
            <a class="btn btn-default btn-sm" href="#">Motion Graphic</a>
            <a class="btn btn-default btn-sm" href="#">Java Script</a>
            <a class="btn btn-default btn-sm" href="#">Video Gallery</a>
            <a class="btn btn-default btn-sm" href="#">Blog</a>
            <a class="btn btn-default btn-sm" href="#">WordPress</a>
            <a class="btn btn-default btn-sm" href="#">Business</a>

          </aside>


          <aside class="widget">
            <h1 class="widget-title">Latest Posts</h1>

            <article class="blog-item media">

              <a class="pull-left" href="#">
                <img class="media-object" src="assets/images/demo-content/05-blog-lastpost-widget-01.jpg" alt="">
              </a>

              <div class="media-body">
                <h4 class="entry-title"><a href="#">Maecenas metus lorem nulla facili prem lipsum.</a></h4>
                <div class="entry-meta">
                  <span class="entry-date">12 August 2014</span>
                </div>
              </div>
            </article>
            <article class="blog-item media">

              <a class="pull-left" href="#">
                <img class="media-object" src="assets/images/demo-content/05-blog-lastpost-widget-02.jpg" alt="">
              </a>

              <div class="media-body">
                <h4 class="entry-title"><a href="#">Tetus lorem maecenas  nulla, facili lipsu pretium.</a></h4>
                <div class="entry-meta">
                  <span class="entry-date">28 July 2014</span>
                </div>
              </div>
            </article>
            <article class="blog-item media">

              <a class="pull-left" href="#">
                <img class="media-object" src="assets/images/demo-content/05-blog-lastpost-widget-03.jpg" alt="">
              </a>

              <div class="media-body">
                <h4 class="entry-title"><a href="#">Lorem maecenas metus nulla pretm lipsum facili.</a></h4>
                <div class="entry-meta">
                  <span class="entry-date">16 June 2014</span>
                </div>
              </div>
            </article>

          </aside>

          <aside class="widget">
            <h1 class="widget-title">Twitter Stream</h1>

            <div data-limit="1" class="tweets_display">

            </div>



          </aside>

          <aside class="widget">
            <h1 class="widget-title">Flickr Stream</h1>

            <div class="flickr_badge">
              <div class="flickr_badge_image">
                <a href="#"><img alt="" src="assets/images/demo-content/05-blog-flickr-img-01.jpg"></a>
              </div>
              <div class="flickr_badge_image">
                <a href="#"><img alt="" src="assets/images/demo-content/05-blog-flickr-img-04.jpg"></a>
              </div>
              <div class="flickr_badge_image">
                <a href="#"><img alt="" src="assets/images/demo-content/05-blog-flickr-img-03.jpg"></a>
              </div>
              <div class="flickr_badge_image">
                <a href="#"><img alt="" src="assets/images/demo-content/05-blog-flickr-img-04.jpg"></a>
              </div>
              <div class="flickr_badge_image">
                <a href="#"><img alt="" src="assets/images/demo-content/05-blog-flickr-img-05.jpg"></a>
              </div>
              <div class="flickr_badge_image">
                <a href="#"><img alt="" src="assets/images/demo-content/05-blog-flickr-img-01.jpg"></a>
              </div>
            </div>

          </aside>

        </div>
        <!-- / sidebar -->
      </div>
    </div>
  </div>

</div>
<!-- / content-->


<!-- section PREFOOTER -->
<div id="prefooter" class="content-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="newsletterForm content_center">

          <h2 class="widget-title">Subscribe to Our Newsletter!</h2>

          <div class="successMessage alert alert-success alert-dismissable" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Thank You! E-mail was sent.
          </div>
          <div class="errorMessage alert alert-danger alert-dismissable" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Ups! An error occured. Please try again later.
          </div>

          <form class="liveForm form-inline validateIt" role="form" action="http://master.html.themeforest.createit.pl/assets/form/send.php" method="post"
                data-email-subject="Newsletter Form" data-show-errors="true" data-hide-form="true">

            <input type="submit" class="btn btn-lg btn-click" value="Subscribe!">

            <div class="form-group">
              <i class="icon-paper-plane"></i>
              <input type="text" name="field[]" required class="form-control" placeholder="Your email address..">
            </div>
          </form>

          <p class="summary">Subscribe to our weekly newsletter to receive the latest freebies in your
            inbox!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / section -->