<%=@article.title%><br>
<%=@article.description%>

<!-- header -->
<header class="height">


  <div data-image-mobile="assets/images/bg-plannet-parallax.jpg" data-image="assets/images/bg-plannet-parallax.jpg" data-type="parallax" data-height="670" data-stellar-background-ratio="0" class="media-section">

    <div class="display-table">
      <div class="inner">

        <div class="flexslider std-slider center-controls" data-height="" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="false" data-dircontrols="true">
          <ul class="slides">
            <li>
              <div class="container">
                <div class="text-center width inner">
                  <h2 class="page-title animated" data-fx="fadeInDown">WELCOME TO BLOG</h2>

                  <h3 class="animated" data-fx="bounceIn">
                    Featuring the best design on the web Best of Blog Corporate CSS Design<br/>
                    becoming like this is one of your goals, here are some general pointers.
                  </h3>
                  <a href="#content" class="btn btn-default btn-lg animated local" data-fx="fadeInUp">Get Started Now</a>
                </div>
              </div>
            </li>


            <li>
              <div class="container">
                <div class="text-center width inner">
                  <h2 class="page-title animated" data-fx="fadeInDown">WELCOME TO OUR PORTFOLIO</h2>

                  <h3 class="animated" data-fx="bounceIn">
                    Featuring the best design on the web Best of Blog Corporate CSS Design<br/>
                    becoming like this is one of your goals, here are some general pointers.
                  </h3>
                  <a href="#content" class="btn btn-default btn-lg animated local" data-fx="fadeInUp">Get Started Now</a>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <a href="#content" class="bigArrow local">
          <span>scroll down for more!</span>
          <i class="pe-7s-bottom-arrow"></i>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- / header -->


<!--  section CONTENT -->

<div id="content" class="content-area">
  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <div class="clearfix" id="blog-list">
          <article class="blog-item item-bigger">
            <div class="blog-thumbnail">
              <img alt=" " src="assets/images/demo-content/05-blog-single-post-image1.jpg">


            </div>
            <div class="innerMargin">
              <div class="entry-meta">
                <span class="entry-date">December 3, 2013</span>
                <span class="cat-links">In <a href="#">News</a>, <a href="#">Images</a></span>
                <span class="by-author"><a href="#">By Admin</a></span>
                <span class="entry-comments"><a href="#">1 comment</a></span>
              </div>
              <h4 class="entry-title">This is a standard post format with preview picture</h4>

              <p>
                Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore <a href="#">it’s a text link</a>. Ut enim ad
                minim veniam,
                quis exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>

              <p>
                Sed varius varius eros. Sed nec tellus a elit blandit pulvinar. Nulla ut urna placerat, auctor purus et, luctus justo. Ut condimentum augue porttitor turpis pretium, nec egestas odio varius. Aenean
                porttitor nisi quis libero facilisis scelerisque. In eget erat scelerisque, feugiat tellus at, bibendum quam. Suspendisse potenti. Egestas enim eros, non pharetra massa porta nec. Nullam ullamcorper
                tellus quis nulla porta vulputate. Integer non massa consectetur, pharetra enim vel, ultrices metus.
              </p>

              <blockquote class="intext">
                <p>I think there are two types of people in this world &mdash; people who can start things and people who can finish things. And while I place great value on the finishers, it’s the starters who are rare
                  because they can envision what isn’t there.

                </p>
              </blockquote>

              <p>
                Donec quam metus, facilisis quis luctus eget, lobortis at felis. Nunc varius sodales sem eget viverra. Donec quis quam orci. Curabitur fringilla elit eu cursus ornare. Mauris faucibus rhoncus felis,
                venenatis pellentesque est sodales vel. Cras vel purus mollis lacus eleifend blandit. Vestibulum aliquam imperdiet aliquet. Cras malesuada dolor leo, eu aliquet nisl vestibulum hendrerit. In fermentum
                nibh vitae diam adipiscing, eget faucibus erat condimentum. Nullam vel magna at dui adipiscing sollicitudin at sit amet nisl. Vestibulum pharetra, nunc interdum condimentum elementum, felis augue semper
                eros, sed sagittis nibh est at neque.
              </p>

              <br>

              <div class="widget wp_widget_tag_cloud">
                <a class="btn btn-default btn-sm" href="#">Art</a>
                <a class="btn btn-default btn-sm" href="#">Audio</a>
                <a class="btn btn-default btn-sm" href="#">Business</a>
                <a class="btn btn-default btn-sm" href="#">Clean</a>
                <a class="btn btn-default btn-sm" href="#">Music</a>
                <a class="btn btn-default btn-sm" href="#">Video</a>
              </div>

            </div>
          </article>
          <!-- / blog-item -->
          <!-- / commentListOuter -->
        </div>
        <!-- / Post-->
      </div>
    </div>
  </div>
</div>
<!-- / content-->
<%= render 'shared/newsletter_footer'%>
