
<%@portfolios.each do |p|%>
    <%=p.title%><br>
    <%=p.description%><br>
    <%=p.project_url%>
<%end%>


<!--  section PORTFOLIO -->
<div id="portfolio" class="content-area">
  <div class="container">

    <div class="row section-header">
      <div class="col-sm-12 col-md-9 table-cell">
        <h2>Our Portfolio</h2>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br /> sed do eiusmod tempor incididunt ut labore.</p>
      </div>
      <div class="col-sm-12 col-md-3 table-cell">
        <div class="btn-group">
          <button class="btn btn-default uppercase dropdown-toggle" type="button" data-toggle="dropdown">
            <span>all</span> <i class="fa fa-angle-down"></i>
          </button>
          <ul id="galleryFilters" class="option-set clearfix list-unstyled dropdown-menu" role="menu">
            <li><a href="#filter=*" class="btn" data-text="View all works">View all works</a></li>
            <li><a href="#filter=.web" class="btn" data-text="Web">Web</a></li>
            <li><a href="#filter=.identity" class="btn" data-text="Identity">Identity</a></li>
            <li><a href="#filter=.print" class="btn" data-text="Print">Print</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div id="galleryContainer" class="clearfix withSpaces col-3">
      <div class="galleryItem identity">
        <article class="portfolio-item">
          <div class="portfolio-thumbnail">
            <a href="#">
              <%= image_tag 'demo-content/02-home-portfolio-01.jpg', draggable:'false'%>
              </a>
            <a href="assets/images/demo-content/02-home-portfolio-01.jpg" data-type="image" title="Image Title Goes Here" class="magnificpopup overlay-img"><span class="overlay-ico"><i class="pe-7s-search"></i></span></a>
          </div>
          <h4 class="entry-title"><a href="04-project-page.html">Project name goes here</a></h4>
          <div class="entry-meta">
            <span class="cat-links"><a href="#">Identity</a>, <a href="#">Web</a></span>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<!-- / section -->





<!--  section TIME COUNTER -->
<div id="s_04" class="content-area">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 animated" data-fx="fadeInDown" >
        <div class="timerCounter">


                    <span class="timerVal" data-from="0" data-to="58" data-speed="4000"
                          data-refresh-interval="50">58</span>
          <span class="timerDesc">WordPress Themes</span>


        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 animated" data-fx="fadeInUp">
        <div class="timerCounter">


                    <span class="timerVal" data-from="0" data-to="72" data-speed="4000"
                          data-refresh-interval="50">72</span>
          <span class="timerDesc">Marketplace Followers</span>


        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 animated" data-fx="fadeInDown">
        <div class="timerCounter">


                    <span class="timerVal" data-from="0" data-to="7" data-speed="4000"
                          data-refresh-interval="50">7</span><span class="k-letter">K</span>
          <span class="timerDesc">Monthly Sales</span>


        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 animated" data-fx="fadeInUp">
        <div class="timerCounter">


                    <span class="timerVal" data-from="0" data-to="3" data-speed="4000"
                          data-refresh-interval="50">3</span>
          <span class="timerDesc">Developers & Designers</span>


        </div>
      </div>
    </div>
  </div>
</div>
<!-- / section -->






<!--  section BLACK -->
<div class="black content-area" data-bg="assets/images/demo-content/00-home-bg-awesome-clients-logos.jpg">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-3 table-cell animated" data-fx="fadeInLeft">

        <div class="awesome">
          <h2>Our Awesome Clients</h2>
          <p class="summary">More than 5,000 customers trust us from around the world, and felt happy with our five stars services!</p>
          <br />
          <button class="btn btn-border white btn-lg">Get Started Now</button>
        </div>


      </div>
      <div class="col-sm-12 col-md-9 table-cell">

        <div class="centre">
          <ul class="row thumbnails list-unstyled text-center">
            <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
              <a href="#">
                <img alt="" title="" src="assets/images/demo-content/logos/home-v1-clients-logo1.png">
              </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
              <a href="#">
                <img alt="" title="" src="assets/images/demo-content/logos/home-v1-clients-logo2.png">
              </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
              <a href="#">
                <img alt="" title="" src="assets/images/demo-content/logos/home-v1-clients-logo3.png">
              </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
              <a href="#">
                <img alt="" title="" src="assets/images/demo-content/logos/home-v1-clients-logo4.png">
              </a>
            </li>
          </ul>
        </div>
        <div class="centre">
          <ul class="row thumbnails list-unstyled text-center">
            <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
              <a href="#">
                <img alt="" title="" src="assets/images/demo-content/logos/home-v1-clients-logo5.png">
              </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
              <a href="#">
                <img alt="" title="" src="assets/images/demo-content/logos/home-v1-clients-logo6.png">
              </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
              <a href="#">
                <img alt="" title="" src="assets/images/demo-content/logos/home-v1-clients-logo7.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- / section -->



<!-- section PREFOOTER -->
<div id="prefooter" class="content-area">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 animated" data-fx="fadeInDown">
        <div class="about-info">
          <h2 class="widget-title">About Master</h2>
          <p class="summary">
            Lorem Ipsum is simply dumy text of the printing and typing setting and industry Lorem Ipum has been the industry's standard dummy text un ever member since the 1500s.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 animated" data-fx="fadeInUp">
        <div class="twitter-stream">
          <h2 class="widget-title">Twitter Stream</h2>
          <div class="tweets_display" data-limit="1">

          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 animated" data-fx="fadeInDown">
        <div class="newsletterForm">

          <h2 class="widget-title">Subscribe to Our Newsletter!</h2>

          <div class="successMessage alert alert-success alert-dismissable" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Thank You! E-mail was sent.
          </div>
          <div class="errorMessage alert alert-danger alert-dismissable" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Ups! An error occured. Please try again later.
          </div>

          <p class="summary">Subscribe to our weekly newsletter to receive the latest freebies in your
            inbox!</p>

          <form class="liveForm form-inline validateIt" role="form" action="http://master.html.themeforest.createit.pl/assets/form/send.php" method="post"
                data-email-subject="Newsletter Form" data-show-errors="true" data-hide-form="true">

            <input type="submit" class="btn btn-click" value="Subscribe!">

            <div class="form-group">
              <i class="icon-paper-plane"></i>
              <input type="text" name="field[]" required class="form-control" placeholder="Your email address..">
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- / section -->