<!--  section PORTFOLIO -->
<div id="portfolio" class="content-area">
  <div class="container">

    <div class="row section-header">
      <div class="col-sm-12 col-md-9 table-cell">
        <h2>Our Portfolio</h2>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br /> sed do eiusmod tempor incididunt ut labore.</p>
      </div>
      <div class="col-sm-12 col-md-3 table-cell">
        <div class="btn-group">
          <button class="btn btn-default uppercase dropdown-toggle" type="button" data-toggle="dropdown">
            <span>all</span> <i class="fa fa-angle-down"></i>
          </button>
          <ul id="galleryFilters" class="option-set clearfix list-unstyled dropdown-menu" role="menu">
            <li><a href="#filter=*" class="btn" data-text="View all works">View all works</a></li>
            <li><a href="#filter=.web" class="btn" data-text="Web">Web</a></li>
            <li><a href="#filter=.identity" class="btn" data-text="Identity">Identity</a></li>
            <li><a href="#filter=.print" class="btn" data-text="Print">Print</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div id="galleryContainer" class="clearfix withSpaces col-3">
      <%@portfolios.each do |p|%>
    <div class="galleryItem identity">
      <article class="portfolio-item">
          <div class="portfolio-thumbnail">
            <a href="#">
              <%= image_tag 'demo-content/02-home-portfolio-01.jpg', draggable:'false'%>
              </a>
            <a href="assets/images/demo-content/02-home-portfolio-01.jpg" data-type="image" title="Image Title Goes Here" class="magnificpopup overlay-img"><span class="overlay-ico"><i class="pe-7s-search"></i></span></a>
          </div>
          <h4 class="entry-title"><a href="04-project-page.html"><%=p.title%></a></h4>
          <div class="entry-meta">
            <span class="cat-links"><a href="#">Identity</a>, <a href="#">Web</a></span>
          </div>
        </article>
      </div>
      <%end%>
    </div>
  </div>
</div>
<!-- / section -->

<!--  section TIME COUNTER -->
<div id="s_04" class="content-area">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 animated" data-fx="fadeInDown" >
        <div class="timerCounter">


                    <span class="timerVal" data-from="0" data-to="58" data-speed="4000"
                          data-refresh-interval="50">58</span>
          <span class="timerDesc">WordPress Themes</span>


        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 animated" data-fx="fadeInUp">
        <div class="timerCounter">


                    <span class="timerVal" data-from="0" data-to="72" data-speed="4000"
                          data-refresh-interval="50">72</span>
          <span class="timerDesc">Marketplace Followers</span>


        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 animated" data-fx="fadeInDown">
        <div class="timerCounter">


                    <span class="timerVal" data-from="0" data-to="7" data-speed="4000"
                          data-refresh-interval="50">7</span><span class="k-letter">K</span>
          <span class="timerDesc">Monthly Sales</span>


        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 animated" data-fx="fadeInUp">
        <div class="timerCounter">


                    <span class="timerVal" data-from="0" data-to="3" data-speed="4000"
                          data-refresh-interval="50">3</span>
          <span class="timerDesc">Developers & Designers</span>


        </div>
      </div>
    </div>
  </div>
</div>
<!-- / section -->
<%= render 'shared/clients'%>
<%= render 'shared/prefooter'%>
