<footer>
  <div class="container">
    <div class="row">
      <aside class="col-md-6">
        <p class="lighter">Made with <i class="fa fa-heart-o"></i> by <a href="http://www.moriven.tn/" title="Moriven">Moriven</a></p>
        <p class="darker">All rights reserved Copyright © 2015 <a href="http://www.moriven.tn/">Moriven</a></p>
      </aside>
      <aside class="col-md-6">
        <article class="table-content">
          <div class="table-row">
            <div class="table-cell">
              <h4 class="widget-title">Find us on this platforms:</h4>
            </div>
            <div class="table-cell">
              <ul class="socialIcons bigIcons list-inline">
                <li><a title="" data-toggle="tooltip" href="https://www.facebook.com/createITpl" data-original-title="Facebook"><i class="fa fa-fw fa-facebook "></i></a></li>
                <li><a title="" data-toggle="tooltip" href="https://twitter.com/createitpl" data-original-title="Twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
                <li><a title="" data-toggle="tooltip" href="#" data-original-title="Forrst+"><i class="fa-fw icon icon-forrst"></i></a></li>
                <li><a title="" data-toggle="tooltip" href="#" data-original-title="Dribble"><i class="fa fa-fw fa-dribbble"></i></a></li>
              </ul>
            </div>
          </div>
        </article>
      </aside>
    </div>
  </div>
</footer>