<%= render 'newsletters/new'%>

<!-- header -->
<header class="height">


  <div data-image-mobile="assets/images/bg-plannet-parallax.jpg" data-image="assets/images/bg-plannet-parallax.jpg" data-type="parallax" data-height="400" data-stellar-background-ratio="0" class="media-section">

    <div class="display-table">
      <div class="inner">

        <div class="flexslider std-slider center-controls" data-height="" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="false" data-dircontrols="true">
          <ul class="slides">
            <li>
              <div class="container">
                <div class="text-left width inner">
                  <h2 class="page-title animated" data-fx="fadeInDown">ABOUT US</h2>

                  <h3 class="animated" data-fx="bounceIn">
                    Featuring the best design on the web Best of Blog Corporate CSS Design<br/>
                    becoming like this is one of your goals, here are some general pointers.
                  </h3>
                </div>
              </div>
            </li>



          </ul>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- / header -->


<!--  section CONTENT -->

<!--  section CAROUSEL GALLERY -->
<div id="carouselgallery">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-6 col-md-push-6 animated" data-fx="fadeInLeft">

        <div class="section-summary section-header">
          <h2 class="uppercase_text">Meet a person everyday</h2>

          <p class="summary">This historic passageway was once worn into a dense chain of dusty trails by
            caravans
            of horses and camels carrying merchants and wares between continental Asia and Europe.</p>
        </div>

      </div>
      <div class="col-md-6 col-md-pull-6">
        <div class="carousel-gal">
          <img src="assets/images/demo-content/02-home-meet-person.png" alt="" title=""/>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- / section -->
<!--  section TEAM -->
<%= render 'teams/team'%>
<!-- / section -->
<div class="content-area">

  <div class="container">
    <div class="row section-header text-center">
      <h2>Our Story</h2>
      <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore. </p>
    </div>
  </div>

  <div id="timeline-embed"></div>

</div>
<%= render 'shared/newsletter_footer'%>
