<%= render 'newsletters/new'%>

<!-- header -->
<header class="height">


  <div data-image-mobile="assets/images/bg-plannet-parallax.jpg" data-image="assets/images/bg-plannet-parallax.jpg" data-type="parallax" data-height="400" data-stellar-background-ratio="0" class="media-section">

    <div class="display-table">
      <div class="inner">

        <div class="flexslider std-slider center-controls" data-height="" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="false" data-dircontrols="true">
          <ul class="slides">
            <li>
              <div class="container">
                <div class="text-left width inner">
                  <h2 class="page-title animated" data-fx="fadeInDown">ABOUT US</h2>

                  <h3 class="animated" data-fx="bounceIn">
                    Featuring the best design on the web Best of Blog Corporate CSS Design<br/>
                    becoming like this is one of your goals, here are some general pointers.
                  </h3>
                </div>
              </div>
            </li>



          </ul>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- / header -->


<!--  section CONTENT -->

<!--  section CAROUSEL GALLERY -->
<div id="carouselgallery">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-6 col-md-push-6 animated" data-fx="fadeInLeft">

        <div class="section-summary section-header">
          <h2 class="uppercase_text">Meet a person everyday</h2>

          <p class="summary">This historic passageway was once worn into a dense chain of dusty trails by
            caravans
            of horses and camels carrying merchants and wares between continental Asia and Europe.</p>
        </div>

      </div>
      <div class="col-md-6 col-md-pull-6">
        <div class="carousel-gal">
          <img src="assets/images/demo-content/02-home-meet-person.png" alt="" title=""/>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- / section -->


<!--  section TEAM -->
<div class="content-area">

  <div class="container">

    <div class="row section-header">
      <div class="col-sm-12 col-md-7">

        <h2>Our Small Team</h2>

        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br /> sed do eiusmod tempor
          incididunt ut labore. </p>

      </div>
    </div>

    <div class="row">


      <div class="col-sm-6 col-md-3 animated" data-fx="fadeInUp">
        <div class="personBox text-center">


          <div class="person-thumbnail">
            <a href="#"><img src="assets/images/demo-content/02-home-team-01.jpg" alt="" title=""></a>

            <div><a class="overlay-img" href="#"><span class="overlay-ico"><i class="pe-7s-close"></i></span></a></div>
          </div>

          <a href="#"><h4>Norman Candian
            <span>Chief Executive Officer</span>
          </h4></a>

          <p> Lorem ipsum dolor amet consectetur adipisicing elit eiusmod incididunt.</p>

          <ul class="socialNormal list-inline">
            <li><a data-original-title="Facebook" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-facebook"></i></a></li>
            <li><a data-original-title="Twitter" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-twitter"></i></a></li>
            <li><a data-original-title="Forrst" href="#" data-toggle="tooltip" title=""><i
            class="fa-fw icon-forrst"></i></a></li>
            <li><a data-original-title="Dribble" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-dribbble"></i></a></li>
          </ul>


        </div>
      </div>
      <div class="col-sm-6 col-md-3 animated" data-fx="fadeInDown">
        <div class="personBox text-center">

          <div class="person-thumbnail">
            <a href="#"><img src="assets/images/demo-content/02-home-team-02.jpg" alt="" title=""></a>

            <div><a class="overlay-img" href="#"><span class="overlay-ico"><i class="pe-7s-close"></i></span></a></div>
          </div>

          <a href="#"><h4>Nancy Ghomany
            <span>President Legal</span>
          </h4></a>

          <p> Lorem ipsum dolor amet consectetur adipisicing elit eiusmod incididunt.</p>

          <ul class="socialNormal list-inline">
            <li><a data-original-title="Facebook" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-facebook"></i></a></li>
            <li><a data-original-title="Twitter" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-twitter"></i></a></li>
            <li><a data-original-title="Forrst" href="#" data-toggle="tooltip" title=""><i
            class="fa-fw icon-forrst"></i></a></li>
            <li><a data-original-title="Dribble" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-dribbble"></i></a></li>
          </ul>


        </div>
      </div>
      <div class="col-sm-6 col-md-3 animated" data-fx="fadeInUp">
        <div class="personBox text-center">

          <div class="person-thumbnail">
            <a href="#"><img src="assets/images/demo-content/02-home-team-03.jpg" alt="" title=""></a>

            <div><a class="overlay-img" href="#"><span class="overlay-ico"><i class="pe-7s-close"></i></span></a></div>
          </div>

          <a href="#"><h4>Michel Dolman
            <span>President Tax & Accunting</span>
          </h4></a>

          <p> Lorem ipsum dolor amet consectetur adipisicing elit eiusmod incididunt.</p>

          <ul class="socialNormal list-inline">
            <li><a data-original-title="Facebook" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-facebook"></i></a></li>
            <li><a data-original-title="Twitter" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-twitter"></i></a></li>
            <li><a data-original-title="Forrst" href="#" data-toggle="tooltip" title=""><i
            class="fa-fw icon-forrst"></i></a></li>
            <li><a data-original-title="Dribble" href="#" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-dribbble"></i></a></li>
          </ul>


        </div>
      </div>
      <div class="col-sm-6 col-md-3 animated" data-fx="fadeInDown">
        <div class="personBox text-center">

          <div class="person-thumbnail">
            <a href="#"><img src="assets/images/content/02-home-team-joinus.jpg" alt="" title=""></a>


          </div>

          <h4>Join us now
            <span>We need HTML Developer</span>
          </h4>

          <p> Lorem ipsum dolor amet consectetur adipisicing elit eiusmod incididunt.</p>

          <a class="btn btn-default" href="#">Apply Now</a>

        </div>
      </div>
    </div>


  </div>
</div>
<!-- / section -->


<div class="content-area">

  <div class="container">
    <div class="row section-header text-center">
      <h2>Our Story</h2>
      <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore. </p>
    </div>
  </div>

  <div id="timeline-embed"></div>

</div>


<!-- section PREFOOTER -->
<div id="prefooter" class="content-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="newsletterForm content_center">

          <h2 class="widget-title">Subscribe to Our Newsletter!</h2>

          <div class="successMessage alert alert-success alert-dismissable" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Thank You! E-mail was sent.
          </div>
          <div class="errorMessage alert alert-danger alert-dismissable" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Ups! An error occured. Please try again later.
          </div>

          <form class="liveForm form-inline validateIt" role="form" action="http://master.html.themeforest.createit.pl/assets/form/send.php" method="post"
                data-email-subject="Newsletter Form" data-show-errors="true" data-hide-form="true">

            <input type="submit" class="btn btn-lg btn-click" value="Subscribe!">

            <div class="form-group">
              <i class="icon-paper-plane"></i>
              <input type="text" name="field[]" required class="form-control" placeholder="Your email address..">
            </div>
          </form>

          <p class="summary">Subscribe to our weekly newsletter to receive the latest freebies in your
            inbox!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / section -->

